body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#skin-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#skinCanvas {
    border: 1px solid black;
    image-rendering: pixelated;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

select, button {
    margin: 5px;
    padding: 5px;
}

#admin-panel {
    margin-top: 20px;
    padding: 10px;
    background: #f3f3f3;
}

@media (max-width: 600px) {
    #skin-container, #controls {
        width: 90%;
    }
}
